<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Acceso Denegado</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h4>Acceso Denegado</h4>
        <p>No tienes permiso para acceder a esta página o ejecutar esta acción</p>
        <br>
        <!--<a th:href="@{/}">[[#{accion.regresar}]]</a>-->
        <a th:href="@{/}">Regresar</a>
    </body>
</html>
