<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Spring Boot App con Seguridad - Inicio</title>
        <meta charset="UTF-8" />
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h3>Inicio</h3>
        <hr />
        <div>
            <form method="POST" th:action="@{/logout}">
                <a href="#" onclick="this.parentNode.submit();">Logout</a>
            </form>
        </div>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/agregar}" >Crear Persona</a>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1" class="table table-striped table-bordered">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th sec:authorize="hasRole('ADMIN')" class="text-center">Editar</th>
                    <th sec:authorize="hasRole('ADMIN')" class="text-center">Eliminar</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar Nombre</td>
                    <td th:text="${persona.apellido}">Mostrar Apellido</td>
                    <td th:text="${persona.email}">Mostrar Email</td>
                    <td th:text="${persona.telefono}">Mostrar Teléfono</td>
                    <td sec:authorize="hasRole('ADMIN')" class="text-center">
                        <a th:href="@{/editar/} + ${persona.id}" th:text="Editar" class="btn btn-primary"/>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')" class="text-center">
                        <a th:href="@{/eliminar(idPersona=${persona.id})}" th:text="Eliminar" class="btn btn-danger"/>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            <p class="alert alert-danger">La lista de personas está vacía</p>
        </div>
        
        <footer th:replace="layout/plantilla :: footer">
            <p>User: <b><span sec:authentication="name">Usuario que hizo Login</span></b></p>
            <p>Roles: <b><span sec:authentication="principal.authorities">Roles</span></b></p>
        </footer>
        
    </body>
</html>
